<!DOCTYPE html>
<html lang="en">

<head>
  <title>RSRAG</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
</head>

<body>
  <div id="app">
    <div class="flex flex-col items-center justify-center mt-36">
      <h1 class="text-3xl font-bold">Rusty RAG</h1>
      <div class="mt-16 flex flex-col sm:flex-row gap-5 sm:gap-2 items-center justify-center w-[90%]">
        <div class="px-4 w-[90%] sm:w-[500px]">
          <input placeholder="E.g. A fantasy book for children" v-model="query" type="text" id="default-input"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        </div>
        <button @click="sendQuery" class="bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded">
          Search
        </button>
      </div>

      <div v-if="book" class="mt-16 w-[90%] md:w-[70%] mb-6">
        <figure class="bg-slate-100 rounded-xl p-8 md:p-0 dark:bg-slate-800">
          <div class="pt-6 md:p-8 text-center space-y-4">

            <figcaption class="">
              <div class="text-xl text-sky-500 dark:text-sky-400">
                {{book.title}}
              </div>
              <div class="font-medium italic text-slate-700 dark:text-slate-500">
                {{book.author}}
              </div>
              <div class="text-slate-700 dark:text-slate-500">
                Genres: {{book.genres.join(", ")}}
              </div>
            </figcaption>

            <blockquote>
              <p class="">
                {{book.summary.split(".").slice(0,3).join(".")}}.
              </p>
            </blockquote>

            <div class="mt-4 flex flex-col items-center justify-center gap-4 mb-4">
              <h1 class="text-slate-700 font-medium text-2xl">Recommendation Reason</h1>
              <p v-if="recommentation!==''">{{recommentation}}</p>
              <div v-else role="status">
                <svg aria-hidden="true" class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
                  viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                    fill="currentColor" />
                  <path
                    d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                    fill="currentFill" />
                </svg>
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>

        </figure>
      </div>
    </div>

  </div>
  <script lang="ts">
    const { ref, createApp } = Vue

    const new_ws_conn = () => {
      console.log("Creating new websocket connection!")
      let url = new URL("/ws/v1/search", window.location.href);
      url.protocol = url.protocol.replace("http", "ws");
      return new WebSocket(url.href);
    }

    createApp({
      setup() {
        const query = ref("")
        const recommentation = ref("")
        const book = ref()

        ws = new_ws_conn();
      
        ws.onopen = () => {
          console.log("Websocket connected!");
        }

        ws.onclose = () => {
          console.log("Websocket closed!");
          ws.close()
          recommentation.value = "Something went wrong..."
        }

        ws.onmessage = (ev) => {
          if (ev.data === "CLOSE") {
            query.value = ""
            return
          }
          recommentation.value += ev.data
        };

        const sendQuery = async () => {
          book.value = undefined
          recommentation.value = ""
          const response = await fetch("/api/v1/semantic_search", {
            method: 'POST',
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({query:query.value})
          });
          const data = await response.json();
          book.value = data;
          ws.send(query.value);
        }

        return {
          query,
          recommentation,
          book,
          sendQuery
        }
      }
    }).mount('#app')
  </script>
</body>

</html>